# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# data output
two_ray/*.txt
two_ray/*.csv

basic_graphic/output_images/*
basic_rf/output_images/*
OneWeekendGPU/build/*
OneWeekendGPU/models/*
new_free_space/*.txt
helper_files/*.tin.tif
helper_files/*.txt
helper_files/boulder_campus/terrain/*.txt
helper_files/boulder_campus/terrain/*.tin.tif
helper_files/boulder_campus/*.txt
helper_files/boulder_campus/holey_Bs/boulder_bs/*
visual_boulder/worlds/*.txt

*.shp
*.cpg
*.dbf
*.prj
*.shx
*.xml

.ipynb_checkpoints
.pyc
.vscode
